.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.form-title{
  border: none;
  border-bottom: 1px solid $blush;
  outline: none;
  height: 8rem;
  font-size: $font-size-2x;
  color: #181818;
  font-weight: 700;
  &:focus{
    border-bottom: 1px solid $blue;
  }
}
.form-content{
  outline: none;
  height: 60vh;
  font-size: $font-size-large;
  color: darken($color_grey_dark,20%);
  font-weight: 400;
}