.header {
  background: white;
  position: sticky;
  top:0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid $cream;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $xs-size 0;
  margin: 0 3rem 0 0;
}

.header__title {
  color:  $m;
  text-decoration: none;
  h1 {
    margin: 0 3rem;
  }
}


.header__links{
  margin:0;
  input{
    opacity: 0;
    margin: 0;
  }
  ul{
    margin:0;
  }
  a{
    margin: 0 1.5rem 1rem 0;
    font-size: $font-size-large;
    color: darken($pink,10);
    font-weight: 550;
  }
  a:hover{
    color: $blush;
    font-weight: bolder;
    transition: font-weight 0.3s ease;
  }

  button{
    margin-right: 1.5rem;
  }

  nav{
    margin: 0;
  }
}

#toggler{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  opacity: 0;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

#toggler:checked ~ #menu {
  visibility: visible;
}

#toggler:checked ~ #menu > div{
  transform: scale(1);
  transition-duration: 0.75s;
}

#toggler:checked ~ #menu > div > div{
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
@media (max-width: $desktop-breakpoint){

  
  #hamburger{
    position: absolute;
    top: 1rem;
    right: 0;
    z-index:2;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
  
    & > div{
      position: relative;
      width:100%;
      height: 3px;
      border-radius: 3px;
      background-color: white;  
      display: flex;
      justify-items: center;
      align-items: center;
      transition: all 0.4s ease;
    }
  
    //top line
    & > div:before, & >div:after{
      content: '';
      position: absolute;
      z-index: 2;
      top:-10px;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: inherit;
    }
  //bottom line
    & >div:after{
      top: 10px
    }
  }
  
  //toggler animate
  #toggler:checked + #hamburger > div{
    transform: rotate(135deg);
    &:before, &:after{
      top:0;
      transform: rotate(90deg);
    }
  }
  
  #toggler:checked:hover + #hamburger > d {
    transform: rotate(225deg);
  }
  
  
  //show menu 


  #menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;

  & > div{
    background:$orange;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
    position: relative;
  }

  & > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    }

  & > div > div > ul {
    color:white;
    font-size: $font-size-small;
    display: flex;
    flex-direction: column;    
    margin: 0;
  }
  
  & > div > div > ul > a {
    color: inherit;
    outline: none;
    margin: 1rem 0;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  & > div > div > ul > a:hover {
    font-weight: 800;
    color:$skin;
    margin: 1rem 0;
  }

  & > div > div > ul > button {
    margin: 1rem 0;
  }
}}

