.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $m-size $m-size;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: center;
    margin: $l-size $l-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin: 0 $l-size 0 0;
  }
}
