// Colors
$dark-grey: #A95C43;
$blue: #8DE0FF;
$dark-blue: #123769;
$pink: #FFB0C3;
$off-white: white;
$dark-red: #ac3b61;
$brown: #E1956F;

$skin: #edc7bc;
$cream: #eee2dc;
$grey: #74AEC4;

$green: #AEFF9E;
$peach: #a16e83;
$yellow: #EEC74B;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 48rem;
